html, body, #engine-root { height: 100%; margin: 0; user-select: none; -webkit-user-select: none; }
#engine-canvas {position: fixed; inset: 0; width: 100vw; height: 100vh; touch-action: none; display:block}

:root { --breath01: 0; --breathVel: 0; }


